/*
Add styles or override the theme's variables here.
*/

html.smooth-scroll {
  scroll-behavior: smooth;
}

// Theme colors
$primary: rgba(0, 70, 234, 0.12);
$primary-rgba: rgba(0, 70, 234, 0.12);
$primary-dark: #0046EA;
$primary-light: #66a3ff;
$secondary: #000000;
$cta: #28a745;
$cta-dark: #28a745;
$goal-wrapper: #fff;

$info: #17a2b8;
$text-primary: #000000;
$text-secondary: rgba(0, 0, 0, 0.6);
$orange: #FF9800;
$lightgray: rgba(221, 221, 221, 0.5);

// Nav bar colors
$white: #fff;
// 

// Fonts
$google_font_name: "Nunito";
$google_font_family: "Nunito:300,300i,400,400i,700,700i&display=swap" !default;

